{% extends 'skeleton.html' %}
{% load staticfiles %}
{% block head %}
    <title>Ваші курси | KPI EDU</title>
    <meta name="description" content="">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'student/css/courses.css' %}">
{% endblock %}

{% block body %}
    {# Кнопка, яка відкриває навігаційну панель на мобільних #}
    <div class="navbar-opener">
        <span class="glyphicon glyphicon-menu-down"></span>
    </div>

    {#   NAVBAR   #}
    {% include 'student/components/navbar.html' with courses=True only %}

    {#  CONTENT HERE  #}

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#my-courses" aria-controls="modules" role="tab" data-toggle="tab">Ваші курси</a></li>
                    <li role="presentation"><a href="#all-courses" aria-controls="settings" role="tab" data-toggle="tab">Список курсів</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="my-courses">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="search">
                            <div class="row">
                                <div class="col-sm-10">
                                    <form action="">
                                        <input type="search" v-model="searchString"  placeholder="Введіть текст для пошуку">
                                        <!-- <button class="button" v-on:click="set_search_string"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> -->
                                    </form>
                                </div>
                                <div class="col-sm-2 results">Знайдено <span>(( searchResultCount ))</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="categories">
                                        <div class="btn-link active" v-on:click="set_active_category">Всі</div>
                                        <div class="btn-link"  v-on:click="set_active_category" >Програмування</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Системна адміністрація</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Фізика</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Математика</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Алгоритмізація</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Програмування</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Системна адміністрація</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Фізика</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Математика</div>
                                        <div class="btn-link"  v-on:click="set_active_category">Інше</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="filters">
                                <a href="#" class="active"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Найпопулярніші</a>
                                <a href="#"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Найновіші</a>
                            </div> -->
                        </div>
                        <div class="items">
                            <div class="row">

                               {# Рендерінг курсів, що знаходяться у filteredCourses #}
                                
                                <div class="item clearfix" v-for="(course, index) in filteredCourses" v-show="index < limit">
                                    <div class="col-sm-3">
                                        <a href="#">
                                            <img   src="{% static 'img/post.jpg' %}"
                                            alt="Profile">
                                        </a>
                                    </div>
                                    <div class="col-sm-9">

                                        <a href="#" class="name"><h3 >(( course.name | short(55) )) </h3></a>
                                        

                                        <a v-bind:href="course.author.url" class="author" >(( course.author.first_name )) (( course.author.last_name ))</a>
                                        <div class="tags" >

                                            {# Рендерінг тегів #}
                                            <a href="#" v-bind:class="{ active: category_is_active(tag) }" v-on:click="set_active_category" v-for="(tag) in course.categories" >(( tag ))</a>

                                        </div>
                                        <div class="date-register">(( locale_pub_date(course.pub_date) ))<span class="glyphicon glyphicon glyphicon-record" aria-hidden="true"></span> 12 зареєструвалось</div>
                                        <div class="description">(( course.description | short(310) ))</div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="buttons" ><a href="#" class="button-more"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>Детальніше</a><a href="#" class="button-try"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Записатися</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="button-wrap">
                                        <div class="button-more" v-show="limit < searchResultCount" v-on:click="limit +=2 "> Більше</div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
<script src="{% static 'student/js/search-filter.js' %}"></script>
<script>
    
</script>
{#  Додаткові скрипти тут  #}


{% endblock %}