.events-opener {
    position: fixed;
    width: 54px;
    height: 54px;
    font-size: 28px;
    z-index: 30;
    background-color: transparent;
    display: none;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #394b58;
}

.events-opener span {
    position: fixed;
    transform: translate(50%, -50%);
    top: 27px;
    right: 27px;
}

.related-courses {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 19;
    height: 100%;
    width: 250px;
    padding: 0 25px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(240, 255, 240, 0.95);
    transition: right 0.5s;
    text-align: center;
}

.related-courses::-webkit-scrollbar {
    width: 1px;
}

.related-courses::-webkit-scrollbar-thumb {
    background: #8fcfff;
    width: 3px;
}

.related-courses::-webkit-scrollbar-thumb:hover {
    background: #7185b7;
}

.related-courses > h2 {
    margin-bottom: 20px;
    color: #394b58;
}

.related-courses .delimiter {
    border: 1px solid #394b58;
}

.course {
    display: block;
    padding: 0 4px 8px;
    margin: 13px 0;
    border-bottom: 2px solid #394b58;
    color: #333;
    transition: border-bottom,box-shadow 0.4s;
}

.course:hover {
    text-decoration: none;
    border-bottom: 2px solid #00ced1;
    box-shadow: inset 0 -16px 20px -14px #00ced1;
}

/* OVERRIDE teacher-account.css */

.image-block:hover .middle {
  opacity: 0;
}

.image-block:hover > img {
  opacity: 1;
}

/* ----------------------------- */

@media (max-width: 768px) {
    .events-opener {
        display: block;
    }

    .related-courses {
        right: -100%;
        width: 100%;
        padding: 30px 30px 0 30px;
    }

    .related-courses.related-courses-opened {
        right: 0;
    }
}