{% extends 'teacher/blog.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>По пошуковому запиту: "{{ search_query }}",
            {% if paginator.count %}
                знайдено {{ paginator.count }}
                {% with last_digit=paginator.count|get_digit:"1" %}
                    {% if last_digit == 1 %}публікацію
                    {% elif last_digit == 2 or last_digit == 3 or last_digit == 4 %}публікації
                    {% else %}публікацій
                    {% endif %}
                {% endwith %}
            {% else %}
                не знайдено публікацій
            {% endif %}

        </h2>
    </div>

    {% with title_max_length=54 %}
        {% for publication in publications %}
            <div class="post col-xs-12 col-md-8 col-md-offset-2">
                <h3 class="post-header">
                    {% if publication.title|length > title_max_length %}
                        {% with truncated_text=publication.title|truncatechars:title_max_length word_count=truncated_text|wordcount|add:'-1' %}
                            {{ truncated_text|truncatewords:word_count }}
                        {% endwith %}
                    {% else %}
                        {{ publication.title }}
                    {% endif %}
                    {% if is_owner %}
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Дія <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'teacher:blog-post-edit' pk=publication.pk %}">Редагувати</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="bg-danger"><a href="#"
                                                         data-delete-href="{% url 'teacher:blog-post-delete' pk=publication.pk %}"
                                                         data-toggle="modal"
                                                         data-target="#delete-post-modal">Видалити</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </h3>
                <small class="post-date text-muted">{{ publication.change_date }}</small>
                <hr class="header-devider">
                <p>
                    {{ publication.get_first_paragraph|truncatechars:350 }}
                </p>
                <a class="btn btn-link read-more" href="{% url 'teacher:blog-post' pk=publication.pk %}">Читати
                    далі...</a>
            </div>
        {% endfor %}
    {% endwith %}

{% endblock %}

