{% extends 'skeleton.html' %}
{% load staticfiles %}
{% block head %}
	<title>Редагування публікації | KPI EDU</title>
	<meta name="description" content="">

	<link rel="stylesheet" href="{% static 'teacher/css/blog-post-add.css' %}">
{% endblock %}

{% block body %}
	{# Кнопка, яка відкриває навігаційну панель на мобільних #}
	<div class="navbar-opener">
		<span class="glyphicon glyphicon-menu-down"></span>
	</div>

	{#   NAVBAR   #}
	{% include 'teacher/components/navbar.html' with blog=True only %}

	{#  CONTENT HERE  #}
	<div class="container-fluid content">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation" class="active"><a href="#add" aria-controls="modules" role="tab" data-toggle="tab">Редагування публікації</a></li>
					<li role="presentation"><a href="#view" aria-controls="settings" role="tab" data-toggle="tab">Попередній вигляд публікації</a></li>
				</ul>
			</div>
			<div class="tab-content">

                {# РЕДАГУВАННЯ ПУБЛІКАЦІЇ #}
				<div role="tabpanel" class="tab-pane active" id="add">
					<div class="col-md-offset-2 col-md-8 col-sm-12">
						<div class="panel panel-info">
							<div class="panel-heading">Необхідна інформація</div>
							<div class="panel-body">
								<form class="form-horizontal update-course" enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
									<div class="row">
										<div class="form-group title-input {% if form.title.errors %}has-error{% endif %}">
											<label for="{{ form.title.id_for_label }}" class="control-label col-sm-3">Заголовок</label>
											<div class="col-sm-8">
												{{ form.title }}
                                                <ul class="help-block">
                                                    {% for error in form.title.errors %}
                                                        <li><strong>{{ error }}</strong></li>
                                                    {% endfor %}
                                                </ul>
											</div>
										</div>
										<div class="form-group image-input {% if form.image.errors %}has-error{% endif %}">
											<label class="col-sm-3 control-label" for="image">Фотокартка публікації</label>
											<div class="col-sm-8">
												<div class="input-group image-preview">
													<input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
													<span class="input-group-btn">
														<!-- image-preview-clear button -->
														<button type="button" class="btn btn-default image-preview-clear" style="display:none;">
															<span class="glyphicon glyphicon-remove"></span> Видалити
														</button>
														<!-- image-preview-input -->
														<div class="btn btn-default image-preview-input">
															<span class="glyphicon glyphicon-folder-open"></span>
															<span class="image-preview-input-title">Обрати</span>
                                                            {{ form.image }}
														</div>
													</span>
												</div>
                                                <ul class="help-block">
                                                    {% for error in form.image.errors %}
                                                        <li><strong>{{ error }}</strong></li>
                                                    {% endfor %}
                                                </ul>
											</div>
										</div>
										<div class="form-group content-input {% if form.content.errors %}has-error{% endif %}">
											<label for="{{ form.content.id_for_label }}" class="control-label col-xs-3">Вміст публікації</label>
											<div class="col-sm-8">
                                                {{ form.content }}
                                                <ul class="help-block">
                                                    {% for error in form.content.errors %}
                                                        <li><strong>{{ error }}</strong></li>
                                                    {% endfor %}
                                                </ul>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-8">
												<button type="submit" class="btn btn-default">Зберегти запис</button>
                                                <ol>
                                                    {% for error in form.non_field_errors %}
                                                        <li><strong>{{ error }}</strong></li>
                                                    {% endfor %}
                                                </ol>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

                {# ПОПЕРЕДНІЙ ПЕРЕГЛЯД ПУБЛІКАЦІЇ #}
				<div role="tabpanel" class="tab-pane" id="view">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<div class="blog-view-inner">
							<img id="preview_image" class="blog-image" src="" alt="" />
                            <div class="col-xs-12">
                                <h1 id="preview_title"></h1>
                                <p id="preview_content"></p>
                            </div>
                            <div class="clearfix"></div>
						</div>
                        <button id="save_post_from_view" class="btn btn-lg btn-default col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">Зберегти</button>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}
    <script src="{% static 'js/markdown.min.js' %}"></script>
    <script src="{% static 'teacher/js/blog-post-add.js' %}"></script>
{% endblock %}