{% extends 'skeleton.html' %}
{% load staticfiles %}

{% block head %}
    <title>Налаштування курсу | KPI EDU</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'teacher/css/course-settings.css' %}">
{% endblock %}

{% block body %}

    <div class="navbar-opener">
        <span class="glyphicon glyphicon-menu-down"></span>
    </div>

    {#   NAVBAR   #}
    {% include 'teacher/components/navbar.html' with courses=True %}

    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#modules" aria-controls="modules" role="tab"
                                                              data-toggle="tab">Розділи</a>
                    </li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                        Налаштування</a>
                    </li>
                    <li role="presentation" class="pull-right"><a href="#settings" aria-controls="settings" role="tab"
                                                                  data-toggle="tab">
                        <span class="glyphicon glyphicon-question-sign"></span></a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- MODULES -->
                    <div role="tabpanel" class="tab-pane active" id="modules">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="panel panel-info">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">
                                        Список розділів
                                        <button type="button" class="btn btn-sm btn-info pull-right" data-toggle="modal"
                                                data-target="#add-module-modal">
                                            <span class="hidden-xs">Додати розділ</span> <span
                                                class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                    <div class="list-group">
                                        {% for module in module_list %}
                                            <a href="{% url 'teacher:module-settings' pk=module.pk %}"
                                               class="list-group-item">
                                                <h4 class="list-group-item-heading ">{{ module.name }}</h4>
                                                <p class="list-group-item-text">
                                                    {{ module.description|truncatechars:150 }}
                                                </p>
                                                <small class="text-muted">Створено: {{ module.pub_date }}</small>
                                                {% if module.visible %}
                                                    <small class="pull-right text-success">Видимий</small>
                                                {% else %}
                                                    <small class="pull-right text-danger">Прихований</small>
                                                {% endif %}

                                            </a>
                                        {% empty %}
                                            <h4 class="text-center">У цьому курсі немає розділів</h4>
                                        {% endfor %}
                                        {#                                    <a href="#" class="list-group-item">#}
                                        {#                                        <h4 class="list-group-item-heading ">Модуль 1</h4>#}
                                        {#                                        <p class="list-group-item-text">{% lorem 20 w random %}#}
                                        {#                                        </p>#}
                                        {#                                    </a>#}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Загальні відомості</div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>Статус</td>
                                            <td>{{ Course.visible|yesno:"Опублікований,Не опублікований" }}</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Кількість розділів</td>
                                            <td>{{ module_list|length }}</td>
                                        </tr>
                                        {#                                    <tr>#}
                                        {#                                        <td>Загальна кількість уроків</td>#}
                                        {#                                        <td>XX</td>#}
                                        {#                                    </tr>#}
                                        <tr>
                                            <td>Кількість подій у календарі</td>
                                            <td>{{ calendar_note_list|length }}</td>
                                        </tr>
                                        <tr>
                                            <td>Кількість оцінюваних груп</td>
                                            <td>{{ Course.group_set.count }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5 pull-right">
                                <div class="panel panel-danger">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Календарні події</div>
                                    <div class="list-group calendar-notes">
                                        {% for calendar_note in calendar_note_list %}
                                            <a href="{{ calendar_note.get_day_url }}" class="list-group-item">
                                                <small>{{ calendar_note.date }}</small>
                                                <h4 class="list-group-item-heading ">{{ calendar_note.title|truncatechars:25 }}</h4>
                                                <p class="list-group-item-text">{{ calendar_note.content|truncatechars:100 }}
                                                </p>
                                            </a>
                                        {% empty %}
                                            <p class="text-center">У цьому курсі немає календарних подій</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- END MODULES -->

                    <!-- SETTINGS -->
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">Опис курсу</div>
                                <div class="panel-body">
                                    <form class="form-horizontal update-course"
                                          action="{% url 'teacher:course-update' pk=Course.pk %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="{{ update_form.name.id_for_label }}"
                                                   class="col-sm-3 control-label">Назва
                                                курсу</label>
                                            <div class="col-sm-8">
                                                {{ update_form.name }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                {% if Course.image %}
                                                    <img id="course-image-preview" class="img-responsive" src="{{ Course.image.url }}">
                                                {% else %}
                                                    <img id="course-image-preview" class="img-responsive" src="">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="input-group image-preview">
                                                    {#                                                    {% if Course.image %}#}
                                                    {#                                                        <span class="input-group-addon">#}
                                                    {#                                                                <input type="checkbox" name="delete-photo">#}
                                                    {#                                                                Видалити#}
                                                    {#                                                        </span>#}
                                                    {#                                                    {% endif %}#}
                                                    {% if Course.image %}
                                                        <input type="text" value="{{ Course.image.name }}"
                                                               class="form-control image-preview-filename"
                                                               disabled="disabled">
                                                        <!-- don't give a name === doesn't send on POST/GET -->
                                                    {% else %}
                                                        <input type="text" class="form-control image-preview-filename"
                                                               disabled="disabled">
                                                        <!-- don't give a name === doesn't send on POST/GET -->
                                                    {% endif %}
                                                    <span class="input-group-btn">
														<!-- image-preview-clear button -->
														<button type="button"
                                                                class="btn btn-default image-preview-clear"
                                                                style="display:none;">
															<span class="glyphicon glyphicon-remove"></span> Видалити
														</button>
                                                        <!-- image-preview-input -->
														<button class="btn btn-default image-preview-input">
															<span class="glyphicon glyphicon-folder-open"></span>
															<span class="image-preview-input-title">Обрати</span>
                                                            {{ update_form.image }}
														</button>
													</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ update_form.description.id_for_label }}"
                                                   class="col-sm-3 control-label">Опис курсу</label>
                                            <div class="col-sm-8">
                                                {{ update_form.description }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ update_form.categories.id_for_label }}"
                                                   class="col-sm-3 control-label">Категорії</label>
                                            <div class="col-sm-8">
                                                {{ update_form.categories }}
                                                <small class="help-block">Затисніть клавішу "Control", або "Command" на
                                                    Mac, щоб обрати більше однієї опції.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-8">
                                                <div class="checkbox">
                                                    <label>
                                                        {{ update_form.visible }} Опублікувати
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-10">
                                                <button type="submit" class="btn btn-default"
                                                        data-loading-text="Зберігаємо...">Зберегти зміни
                                                </button>
                                                <span class="label label-success status">
                                                <span class="glyphicon glyphicon-ok"></span>
                                                Збережено
                                            </span>
                                                <span class="label label-danger status">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                Помилка
                                            </span>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- ACCESS SETTINGS -->
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="panel panel-success access-control">
                                <div class="panel-heading">
                                    Налаштування доступу
                                    <!-- Single button -->
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-info btn-sm dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Дія <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#"
                                                   data-url="{% url 'teacher:course-group-list' pk=Course.pk %}"
                                                   class="reload-groups">Оновити</a></li>
                                            <li><a href="#" class="onhighlight-checkboxes">Виділити усі</a></li>
                                            <li><a href="#" class="offhighlight-checkboxes">Зняти виділення</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li class="bg-danger"><a href="#"
                                                                     data-url="{% url 'teacher:course-group-remove' pk=Course.pk %}"
                                                                     class="groups-remove">Видалити вибрані</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <ul class="list-group col-md-6 styled-input-container styled-input--diamond">
                                            <p class="text-center text-muted">Завантаження</p>
                                        </ul>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input data-url="{% url 'search-group' %}" type="text"
                                                       class="form-control search-group" placeholder="Знайти групу">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default add-group-btn" type="button"
                                                            data-loading-text="<span class='glyphicon glyphicon-refresh'></span>"
                                                            data-add-group-url="{% url 'teacher:group-to-course-add' pk=Course.pk %}">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="list-group search-results">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DELETE COURSE -->
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="panel panel-danger">
                                <div class="panel-heading">Небезпека</div>
                                <div class="panel-body">
                                    <button class="btn btn-danger center-block" data-toggle="modal"
                                            data-target="#delete-course-modal">Видалити курс
                                    </button>
                                    <p class="text-center text-danger">
                                        При видаленні курсу, видаляються всі модулі та уроки, які він включає.
                                        <strong> Дані неможливо буде відновити. </strong>
                                        Якщо Ви хочете зробити курс недоступним для перегляду і при цьому зберегти
                                        дані,
                                        просто приберіть галочку з поля <u>Опублікувати</u>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- END SETTINGS TAB -->
                </div> <!-- END TAB CONTENT -->
            </div> <!-- END TABS WRAPPER -->
        </div> <!-- END ROW -->
    </div> <!-- END CONTENT -->

    <!-- ADD MODULE MODAL -->
    <div class="modal fade" id="add-module-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Додати розділ</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="col-sm-offset-1 col-sm-10 add-module"
                              action="{% url 'teacher:course-module-add' pk=Course.pk %}">
                            {% csrf_token %}
                            {{ add_module_form.course }}
                            <div class="form-group">
                                <label for="{{ add_module_form.name.id_for_label }}" class="control-label">Назва
                                    розділу</label>
                                {{ add_module_form.name }}
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="{{ add_module_form.description.id_for_label }}" class="control-label">Опис
                                    розділу</label>
                                {{ add_module_form.description }}
                                <span class="help-block"></span>
                            </div>

                            <div class="checkbox">
                                <label>
                                    {{ add_module_form.visible }} Видимий
                                </label>
                                <span class="help-block"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                    <button type="button" class="btn btn-primary submit-modal" data-loading-text="Створюємо...">Створити
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-danger">Видалити курс ?</h4>
                </div>
                <div class="modal-body">
                    <strong class="text-danger">
                        Після видалення дані неможливо буде відновити
                    </strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                    <form action="{% url 'teacher:course-delete' pk=Course.pk %}" method='post'>{% csrf_token %}
                        <button type="submit" class="btn btn-danger">Видалити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="{% static 'teacher/js/course-settings.js' %}"></script>
{% endblock %}
