{% extends 'skeleton.html' %}
{% load staticfiles %}
{% load edu_extras %}

{% block head %}
    <title>Список курсів | KPI EDU</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'teacher/css/courses-page.css' %}">
{% endblock %}

{% block body %}

    <div class="navbar-opener">
        <span class="glyphicon glyphicon-menu-down"></span>
    </div>

    {#   NAVBAR   #}
    {% include 'teacher/components/navbar.html' with courses=True %}

    <div class="nav">
        <h4 class="sub-header text-center hidden-xs">Вашi курси</h4>
        <button type="button" class="add-course" data-toggle="modal" data-target="#add-course-modal"><span
                class="glyphicon glyphicon-pencil"></span><span class="hidden-xs">Додати курс</span>
        </button>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                {% for course in object_list %}
                    <div class="panel {% cycle 'panel-success' 'panel-info' %} lesson" data-pk="{{ Lesson.pk }}">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <span>Курс: {{ course.name }}</span>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Розділи:</dt>
                                <dd>{{ course.module_set.count }}</dd>
                                <dt>Групи:</dt>
                                <dd>{{ course.group_set.count }}</dd>
                                <dt>Дата створення:</dt>
                                <dd>{{ course.pub_date }}</dd>
                                <br>
                                <dt>Опис курсу:</dt>
                                <dd>{{ course.description|cut_extra_indent|linebreaksbr }}</dd>
                            </dl>
                            <a href="{% url 'teacher:course-settings' pk=course.pk %}" class="btn btn-default">
                                Панель управління
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <h3 class="text-center">У Вас поки що немає курсiв</h3>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- style='display: none' прибирає просідання фпс при прокручувані сторінки -->
    <div class="modal fade" id="add-course-modal" tabindex="-1" role="dialog" style="display:none">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Додати новий курс</h4>
                </div>
                <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'teacher:course-list' %}">
                    <div class="modal-body">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}" class="col-sm-3 control-label">Назва
                                курсу</label>
                            <div class="col-sm-8">
                                {{ form.name }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.image.id_for_label }}" class="col-sm-3 control-label">Фотокартка
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group image-preview">
                                    <input type="text" class="form-control image-preview-filename"
                                           disabled="disabled">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default image-preview-clear"
                                                style="display:none;">
                                            <span class="glyphicon glyphicon-remove"></span> Видалити
                                        </button>
                                        <button type="button"
                                                class="btn btn-default image-preview-input">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                            <span class="image-preview-input-title">Обрати</span>
                                            {{ form.image }}
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}"
                                   class="col-sm-3 control-label">Опис курсу</label>
                            <div class="col-sm-8">
                                {{ form.description }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.categories.id_for_label }}"
                                   class="col-sm-3 control-label">Категорії</label>
                            <div class="col-sm-8">
                                {{ form.categories }}
                                <small class="help-block">Затисніть клавішу "Control", або "Command" на Mac, щоб обрати більше однієї опції.</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        {{ form.draft }} Опублікувати
                                    </label>
                                </div>
                            </div>
                        </div>
                        {{ form.author }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Зберегти курс</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script>
        $('.image-preview-clear').click(function () {
            $('.image-preview-filename').val("");
            $('.image-preview-input input:file').val("");
            $(".image-preview-input-title").text("Обрати");
        });

        $(".image-preview-input input:file").change(function () {
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".image-preview-input-title").text("Змінити");
                $(".image-preview-clear").show();
                $(".image-preview-filename").val(file.name);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock %}