{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Title</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <link rel="stylesheet" href="{% static 'teacher/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'teacher/css/course-settings.css' %}">
</head>

<body>

<header class="header">
    <ul>
        <li>
            <a class="logo" href="{% url 'teacher:index' %}">
                <img src="{% static 'img/logo.png' %}" alt="KPI">
            </a>
        </li>
        <li>
            <a href="{% url 'teacher:index' %}">
                <img src="{% static 'img/menu/account.png' %}" alt="Account">
            </a>
            <span class="tooltip">Профіль</span>
        </li>
        <li>
            <a href="{% url 'teacher:course-list' %}" class="active">
                <svg viewBox="0 0 297 297">
                    <path d="M287.631,15.459H157.869v-6.09c0-5.174-4.195-9.369-9.369-9.369s-9.369,4.195-9.369,9.369v6.09H9.369   c-5.174,0-9.368,4.195-9.368,9.369v30.918c0,5.174,4.194,9.369,9.368,9.369h6.09v160.68c0,5.174,4.195,9.369,9.369,9.369h104.934   L94.628,282.01c-3.104,4.139-2.266,10.012,1.874,13.116c1.685,1.265,3.657,1.874,5.614,1.874c2.848,0,5.661-1.294,7.502-3.748   l29.513-39.35v33.729c0,5.174,4.195,9.369,9.369,9.369s9.369-4.195,9.369-9.369v-33.729l29.513,39.35   c1.841,2.454,4.653,3.748,7.502,3.748c1.957,0,3.929-0.61,5.614-1.874c4.14-3.104,4.979-8.978,1.874-13.116l-35.134-46.846h104.934   c5.174,0,9.368-4.195,9.368-9.369V65.115h6.091c5.174,0,9.368-4.195,9.368-9.369V24.828   C296.999,19.654,292.805,15.459,287.631,15.459z M18.738,46.377v-12.18h259.523v12.18H18.738z M262.803,216.426H34.197V65.115   h228.605V216.426z"/>
                    <path d="M71.205,142.411h139.131c5.174,0,9.369-4.195,9.369-9.369c0-5.174-4.195-9.369-9.369-9.369H71.205   c-5.174,0-9.369,4.195-9.369,9.369C61.836,138.216,66.031,142.411,71.205,142.411z"/>
                    <path d="M71.205,111.493h30.918c5.174,0,9.369-4.194,9.369-9.369c0-5.174-4.195-9.369-9.369-9.369H71.205   c-5.174,0-9.369,4.195-9.369,9.369C61.836,107.299,66.031,111.493,71.205,111.493z"/>
                    <path d="M71.205,173.328h92.754c5.174,0,9.369-4.195,9.369-9.369s-4.195-9.369-9.369-9.369H71.205   c-5.174,0-9.369,4.195-9.369,9.369S66.031,173.328,71.205,173.328z"/>
                </svg>
            </a>
            <span class="tooltip">Курси</span>
        </li>
        <li>
            <a href="#">
                <svg viewBox="0 0 368.625 368.625">
                    <path d="M356.125,50.318H12.5c-6.903,0-12.5,5.597-12.5,12.5v242.988c0,6.902,5.597,12.5,12.5,12.5h343.625 c6.902,0,12.5-5.598,12.5-12.5V62.818C368.625,55.916,363.027,50.318,356.125,50.318z M343.625,293.307H25V75.318h318.625V293.307 z"/>
                    <path d="M57.755,134.201l120,73.937c2.01,1.239,4.283,1.858,6.557,1.858s4.547-0.619,6.557-1.858l120-73.937 c5.877-3.621,7.707-11.322,4.086-17.199s-11.324-7.707-17.199-4.085l-113.444,69.896L70.869,112.917 c-5.875-3.619-13.576-1.793-17.199,4.085C50.048,122.878,51.877,130.58,57.755,134.201z"/>
                </svg>
            </a>
            <span class="tooltip">Листи</span>
        </li>
        <li>
            <a href="{% url 'teacher:calendar-redirect' %}">
                <svg viewBox="0 0 488.152 488.152">
                    <path d="M177.854,269.311c0-6.115-4.96-11.069-11.08-11.069h-38.665c-6.113,0-11.074,4.954-11.074,11.069v38.66 c0,6.123,4.961,11.079,11.074,11.079h38.665c6.12,0,11.08-4.956,11.08-11.079V269.311L177.854,269.311z"/>
                    <path d="M274.483,269.311c0-6.115-4.961-11.069-11.069-11.069h-38.67c-6.113,0-11.074,4.954-11.074,11.069v38.66 c0,6.123,4.961,11.079,11.074,11.079h38.67c6.108,0,11.069-4.956,11.069-11.079V269.311z"/>
                    <path d="M371.117,269.311c0-6.115-4.961-11.069-11.074-11.069h-38.665c-6.12,0-11.08,4.954-11.08,11.069v38.66 c0,6.123,4.96,11.079,11.08,11.079h38.665c6.113,0,11.074-4.956,11.074-11.079V269.311z"/>
                    <path d="M177.854,365.95c0-6.125-4.96-11.075-11.08-11.075h-38.665c-6.113,0-11.074,4.95-11.074,11.075v38.653 c0,6.119,4.961,11.074,11.074,11.074h38.665c6.12,0,11.08-4.956,11.08-11.074V365.95L177.854,365.95z"/>
                    <path d="M274.483,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.113,0-11.074,4.95-11.074,11.075v38.653 c0,6.119,4.961,11.074,11.074,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95z"/>
                    <path d="M371.117,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.12,0-11.08,4.95-11.08,11.075v38.653 c0,6.119,4.96,11.074,11.08,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95L371.117,365.95z"/>
                    <path d="M440.254,54.354v59.05c0,26.69-21.652,48.198-48.338,48.198h-30.493c-26.688,0-48.627-21.508-48.627-48.198V54.142 h-137.44v59.262c0,26.69-21.938,48.198-48.622,48.198H96.235c-26.685,0-48.336-21.508-48.336-48.198v-59.05 C24.576,55.057,5.411,74.356,5.411,98.077v346.061c0,24.167,19.588,44.015,43.755,44.015h389.82 c24.131,0,43.755-19.889,43.755-44.015V98.077C482.741,74.356,463.577,55.057,440.254,54.354z M426.091,422.588 c0,10.444-8.468,18.917-18.916,18.917H80.144c-10.448,0-18.916-8.473-18.916-18.917V243.835c0-10.448,8.467-18.921,18.916-18.921 h327.03c10.448,0,18.916,8.473,18.916,18.921L426.091,422.588L426.091,422.588z"/>
                    <path d="M96.128,129.945h30.162c9.155,0,16.578-7.412,16.578-16.567V16.573C142.868,7.417,135.445,0,126.29,0H96.128 C86.972,0,79.55,7.417,79.55,16.573v96.805C79.55,122.533,86.972,129.945,96.128,129.945z"/>
                    <path d="M361.035,129.945h30.162c9.149,0,16.572-7.412,16.572-16.567V16.573C407.77,7.417,400.347,0,391.197,0h-30.162 c-9.154,0-16.577,7.417-16.577,16.573v96.805C344.458,122.533,351.881,129.945,361.035,129.945z"/>
                </svg>
            </a>
            <span class="tooltip">Календар</span>
        </li>
        <li>
            <a href="#">
                <svg viewBox="0 0 64 64">
                    <path d="m.057,59.515c0.124,0.582 0.591,1.206 1.119,1.487 0.351,0.187 0.753,0.281 1.192,0.281 2.611,0 13.219-5.48 19.842-9.045 3.482,1.109 5.677,1.162 9.613,1.162h0.228c17.618,0 31.949-11.251 31.949-25.081 0-13.829-14.331-25.08-31.949-25.08-17.614,0-31.948,11.251-31.948,25.08 0,6.521 3.26,12.812 8.997,17.466-0.876,1.31-2.628,3.528-3.886,5.121-4.533,5.739-5.477,7.112-5.157,8.609zm8.349-6.122c4.382-5.547 5.384-6.99 5.183-8.443-0.076-0.539-0.439-1.161-0.881-1.484-5.512-4.014-8.549-9.395-8.549-15.146 0-11.607 12.514-21.052 27.892-21.052 15.38,0 27.892,9.444 27.892,21.052 0,11.609-12.512,21.054-27.892,21.054h-0.228c-3.988,0-5.739-0.048-9.139-1.225-0.543-0.188-1.137-0.141-1.641,0.135-4.91,2.655-10.486,5.492-14.318,7.25 0.581-0.749 1.172-1.497 1.681-2.141z"/>
                </svg>
            </a>
            <span class="tooltip">Блог</span>
        </li>
    </ul>
</header>
<div class="container-fluid content">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#modules" aria-controls="modules" role="tab"
                                                          data-toggle="tab">Модулі</a>
                </li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    Налаштування</a>
                </li>
                <li role="presentation" class="pull-right"><a href="#settings" aria-controls="settings" role="tab"
                                                              data-toggle="tab">
                    <span class="glyphicon glyphicon-question-sign"></span></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- MODULES -->
                <div role="tabpanel" class="tab-pane active" id="modules">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="panel panel-info">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    Список модулів
                                    <button type="button" class="btn btn-sm btn-info pull-right" data-toggle="modal"
                                            data-target="#add-module-modal">
                                        <span class="hidden-xs">Додати модуль</span> <span
                                            class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                                <div class="list-group">
                                    {% for module in module_list %}
                                        <a href="{% url 'teacher:module-settings' pk=module.pk %}" class="list-group-item">
                                            <h4 class="list-group-item-heading ">{{ module.name }}</h4>
                                            <p class="list-group-item-text">
                                                {{ module.description|truncatechars:150 }}
                                            </p>
                                        </a>
                                    {% empty %}
                                        <h4 class="text-center">У цьому курсі немає модулів</h4>
                                    {% endfor %}
                                    {#                                    <a href="#" class="list-group-item">#}
                                    {#                                        <h4 class="list-group-item-heading ">Модуль 1</h4>#}
                                    {#                                        <p class="list-group-item-text">{% lorem 20 w random %}#}
                                    {#                                        </p>#}
                                    {#                                    </a>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Загальні відомості</div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Статус</td>
                                        <td>{{ Course.draft|yesno:"Опублікований,Не опублікований" }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Кількість модулів</td>
                                        <td>{{ module_list|length }}</td>
                                    </tr>
{#                                    <tr>#}
{#                                        <td>Загальна кількість уроків</td>#}
{#                                        <td>XX</td>#}
{#                                    </tr>#}
                                    <tr>
                                        <td>Кількість подій у календарі</td>
                                        <td>{{ calendar_note_list|length }}</td>
                                    </tr>
                                    <tr>
                                        <td>Кількість оцінюваних груп</td>
                                        <td>{{ Course.group_set.count }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 pull-right">
                            <div class="panel panel-danger">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Найближчі календарні події</div>
                                <div class="list-group">
                                    {% for calendar_note in calendar_note_list|slice:":5" %}
                                        <a href="{{ calendar_note.get_day_url }}" class="list-group-item">
                                            <small>{{ calendar_note.date }}</small>
                                            <h4 class="list-group-item-heading ">{{ calendar_note.title|truncatechars:25 }}</h4>
                                            <p class="list-group-item-text">{{ calendar_note.content|truncatechars:100 }}
                                            </p>
                                        </a>
                                    {% empty %}
                                        <p class="text-center">У цьому курсі немає календарних подій</p>
                                    {% endfor %}
                                    {#                                    <a href="#" class="list-group-item">#}
                                    {#                                        <h4 class="list-group-item-heading">{% lorem 3 w random %}</h4>#}
                                    {#                                        <p class="list-group-item-text">{% lorem 5 w random %}</p>#}
                                    {#                                    </a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- END MODULES -->

                <!-- SETTINGS -->
                <div role="tabpanel" class="tab-pane" id="settings">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="panel panel-info">
                            <div class="panel-heading">Опис курсу</div>
                            <div class="panel-body">
                                <form class="form-horizontal update-course"
                                      action="{% url 'teacher:course-update' pk=Course.pk %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ update_form.name.id_for_label }}" class="col-sm-3 control-label">Назва
                                            курсу</label>
                                        <div class="col-sm-8">
                                            {{ update_form.name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ update_form.description.id_for_label }}"
                                               class="col-sm-3 control-label">Опис курсу</label>
                                        <div class="col-sm-8">
                                            {{ update_form.description }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    {{ update_form.draft }} Опублікувати
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-10">
                                            <button type="submit" class="btn btn-default"
                                                    data-loading-text="Зберігаємо...">Зберегти зміни
                                            </button>
                                            <span class="label label-success status">
                                                <span class="glyphicon glyphicon-ok"></span>
                                                Збережено
                                            </span>
                                            <span class="label label-danger status">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                Помилка
                                            </span>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- ACCESS SETTINGS -->
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="panel panel-success access-control">
                            <div class="panel-heading">
                                Налаштування доступу
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info btn-sm dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Дія <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-url="{% url 'teacher:course-group-list' pk=Course.pk %}"
                                               class="reload-groups">Оновити</a></li>
                                        <li><a href="#" class="onhighlight-checkboxes">Виділити усі</a></li>
                                        <li><a href="#" class="offhighlight-checkboxes">Зняти виділення</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="bg-danger"><a href="#"
                                                                 data-url="{% url 'teacher:course-group-remove' pk=Course.pk %}"
                                                                 class="groups-remove">Видалити вибрані</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <ul class="list-group col-md-6 styled-input-container styled-input--diamond">
                                        <p class="text-center text-muted">Завантаження</p>
                                    </ul>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input data-url="{% url 'search-group' %}" type="text"
                                                   class="form-control search-group" placeholder="Знайти групу">
                                            <span class="input-group-btn">
                                                    <button class="btn btn-default add-group-btn" type="button"
                                                            data-loading-text="<span class='glyphicon glyphicon-refresh'></span>"
                                                            data-add-group-url="{% url 'teacher:group-to-course-add' pk=Course.pk %}">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                        </div>
                                        <div class="list-group search-results">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DELETE COURSE -->
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="panel panel-danger">
                            <div class="panel-heading">Небезпека</div>
                            <div class="panel-body">
                                <button class="btn btn-danger center-block" data-toggle="modal"
                                        data-target="#delete-course-modal">Видалити курс
                                </button>
                                <p class="text-center text-danger">
                                    При видаленні курсу, видаляються всі модулі та уроки, які він включає.
                                    <strong> Дані неможливо буде відновити. </strong>
                                    Якщо Ви хочете зробити курс недоступним для перегляду і при цьому зберегти
                                    дані,
                                    просто приберіть галочку з поля <u>Опублікувати</u>

                                </p>
                            </div>
                        </div>
                    </div>
                </div> <!-- END SETTINGS TAB -->
            </div> <!-- END TAB CONTENT -->
        </div> <!-- END TABS WRAPPER -->
    </div> <!-- END ROW -->
</div> <!-- END CONTENT -->

<!-- ADD MODULE MODAL -->
<div class="modal fade" id="add-module-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додати модуль</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="col-sm-offset-1 col-sm-10 add-module"
                          action="{% url 'teacher:course-module-add' pk=Course.pk %}">
                        {% csrf_token %}
                        {{ add_module_form.course }}
                        <div class="form-group">
                            <label for="{{ add_module_form.name.id_for_label }}" class="control-label">Назва
                                модулю</label>
                            {{ add_module_form.name }}
                        </div>
                        <div class="form-group">
                            <label for="{{ add_module_form.description.id_for_label }}" class="control-label">Опис
                                модулю</label>
                            {{ add_module_form.description }}
                        </div>

                        <div class="checkbox">
                            <label>
                                {{ add_module_form.visible }} Видимий
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                <button type="button" class="btn btn-primary submit-modal" data-loading-text="Створюємо...">Створити
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-danger">Видалити курс ?</h4>
            </div>
            <div class="modal-body">
                <strong class="text-danger">
                    Після видалення дані неможливо буде відновити
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                <form action="{% url 'teacher:course-delete' pk=Course.pk %}" method='post'>{% csrf_token %}
                    <button type="submit" class="btn btn-danger">Видалити</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'teacher/js/bootstrap.min.js' %}"></script>
<script src="{% static 'teacher/js/course-settings.js' %}"></script>
</body>
</html>
