{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Title</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'teacher/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'teacher/css/module-settings.css' %}">
</head>

<body data-media-url="{% get_media_prefix %}">

<div class="navbar-opener">
    <span class="glyphicon glyphicon-menu-down"></span>
</div>

{#   NAVBAR   #}
{% include 'teacher/components/navbar.html' with courses=True only %}

<div class="nav">
    <span class="course text-center hidden-xs">{{ Module.course.name }}</span>
    <button type="button" class="add-lesson" data-toggle="modal" data-target="#add-lesson-modal"><span
            class="glyphicon glyphicon-pencil"></span><span class="hidden-xs">Додати урок</span>
    </button>
</div>
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div><strong>Назва модулю</strong></div>
                    {{ Module.name }}
                </div>
                <div class="panel-body">
                    <div><strong>Опис модулю</strong></div>
                    <p>
                        {{ Module.description }}
                    </p>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit-modal">
                        Редагувати
                    </button>
                    <button type="button" class="btn btn-danger pull-right" data-toggle="modal"
                            data-target="#delete-modal">Видалити
                    </button>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            {% for Lesson in Module.lesson_set.all %}
                <div class="panel panel-primary lesson" data-pk="{{ Lesson.pk }}">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span>{{ Lesson.name }}</span>
                        <div class="dropdown pull-right">
                            <button id="lesson-action" type="button" class="btn btn-sm btn-default"
                                    data-toggle="dropdown">
                                Дія
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" aria-labelledby="lesson-action">
                                <li><a href="#" data-toggle="modal" data-target="#edit-lesson-modal"
                                       data-pk="{{ Lesson.pk }}">Редагувати</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" class="bg-danger" data-toggle="modal"
                                       data-url="{% url 'teacher:lesson-delete' Lesson.pk %}"
                                       data-target="#delete-lesson-modal">Видалити</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{ Lesson.short_description }}</p>
                    </div>
                    <!-- List group -->
                    <ul class="list-group">
                        {% for File in Lesson.lessonfile_set.all %}
                            <li class="list-group-item"><span class="glyphicon glyphicon-duplicate type-icon"></span>
                                <a href="{{ File.file.url }}">{{ File.filename }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% empty %}
                <h3 class="text-center">У цьому модулі поки що немає уроків</h3>
            {% endfor %}
        </div>
    </div>
</div>

<!-- ADD LESSON MODAL -->
<div class="modal fade" id="add-lesson-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Додати урок</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'teacher:lesson-add' pk=Module.pk %}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="{{ lesson_form.name.id_for_label }}">Назва уроку</label>
                        {{ lesson_form.name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ lesson_form.short_description.id_for_label }}">Короткий опис заняття</label>
                        {{ lesson_form.short_description }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary btn-submit">Додати</button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE MODULE MODAL -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-danger">Видалити даний модуль ?</h4>
            </div>
            <div class="modal-body text-center">
                <strong class="text-danger">
                    Після видалення дані неможливо буде відновити
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                <form action="{% url 'teacher:module-delete' pk=Module.pk %}" method="post"
                      style="display: inline-block;">{% csrf_token %}
                    <button type="submit" class="btn btn-danger">Видалити</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE LESSON MODAL -->
<div class="modal fade" id="delete-lesson-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-danger">Видалити урок ?</h4>
            </div>
            <div class="modal-body text-center">
                <strong class="text-danger">
                    Після видалення дані неможливо буде відновити
                </strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                <form action="" method="post"
                      style="display: inline-block;">{% csrf_token %}
                    <button type="submit" class="btn btn-danger">Видалити</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редагування</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="{% url 'teacher:module-settings' pk=Module.pk %}" method="post"
                          class="col-sm-offset-1 col-sm-10">
                        {% csrf_token %}
                        {{ module_form.course }}
                        <div class="form-group">
                            <label for="{{ module_form.name.id_for_label }}" class="control-label">Назва
                                модулю</label>
                            {{ module_form.name }}
                        </div>
                        <div class="form-group">
                            <label for="{{ module_form.description.id_for_label }}" class="control-label">Опис
                                модулю</label>
                            {{ module_form.description }}
                        </div>

                        <div class="checkbox">
                            <label>
                                {{ module_form.visible }} Видимий
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                <button type="button" class="btn btn-primary btn-submit">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="edit-lesson-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редагування</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="files-manage col-sm-6 col-xs-12">
                        <label class="control-label">Файли уроку:</label>
                        <div class="upload-btn-wrapper pull-right">
                            <button class="btn btn-sm btn-info">
                                Додати файл
                                <span class="glyphicon glyphicon-cloud-upload"></span>
                            </button>
                            <form class="file-upload-form" action=""
                                  method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="files" multiple/>
                            </form>
                        </div>
                        <div class="list-group file-list">

                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <form class="col-sm-6 edit-lesson-form" action="{% url 'teacher:lesson-update' pk=0 %}"
                          method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ lesson_form.name.id_for_label }}">Назва уроку</label>
                            {{ lesson_form.name }}
                        </div>
                        <div class="form-group">
                            <label for="{{ lesson_form.short_description.id_for_label }}">Короткий опис заняття</label>
                            {{ lesson_form.short_description }}
                        </div>
                        <button type="submit" data-loading-text="Зберігаємо..." class="btn btn-primary">Зберегти
                        </button>
                    </form>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'teacher/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'teacher/js/module-settings.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
</body>
</html>
