{% extends 'skeleton.html' %}
{% load staticfiles %}
{% block head %}
    <title>Профіль | KPI EDU</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'teacher/css/teacher-account.css' %}">
{#    <link rel="stylesheet" href="{% static 'teacher/css/jquery-ui.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'teacher/css/teacher-account-review.css' %}">
{% endblock %}

{% block body %}

    <div class="navbar-opener">
        <span class="glyphicon glyphicon-menu-down"></span>
    </div>

    <div class="events-opener">
        <span class="glyphicon glyphicon-question-sign"></span>
    </div>

    {#   NAVBAR   #}
    {% include 'teacher/components/navbar.html' with account=True %}


    <div class="page-content container-fluid">
        <h2 class="profile-type">Викладацький профіль</h2>
        <div class="profile-info">
            <div class="image-block col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0 col-lg-2">
                <img class='avatar'
                     src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'img/profile.jpg' %}{% endif %}"
                     alt="Profile">
{#                <div class="middle">#}
{#                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal"#}
{#                            data-target="#change-photo-modal">Змінити#}
{#                    </button>#}
{#                </div>#}
            </div>
            <div class="info col-xs-12 col-sm-10 col-md-8 col-lg-9">
                <div class="name"><h2>{{ object.user.first_name }} {{ object.user.last_name }}</h2></div>
                <div class="personal-info">
                    {% if object.about_me %}
                        {{ object.about_me }}
                    {% else %}
                        <span class="text-muted">Інформація відсутня</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <h3 class="text-center title-posts">Останні публікації</h3>
        <div class="posts">
            {% for publication in last_publications %}
                <div class="post col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-5 col-lg-4">
                    <div class="thumbnail">
                        <div class="caption clearfix">
                            <h3>
                                {% if publication.title|length > title_max_length %}
                                    {% with truncated_text=publication.title|truncatechars:title_max_length word_count=truncated_text|wordcount|add:'-1' %}
                                        {{ truncated_text|truncatewords:word_count }}
                                    {% endwith %}
                                {% else %}
                                    {{ publication.title }}
                                {% endif %}
                            </h3>
                            <div class="description">
                                {{ publication.get_first_paragraph|truncatechars:350 }}
                            </div>
                            <a href="{{ publication.get_absolute_url }}"
                               class="to-post center-block btn btn-info btn-sm">Читати</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-muted">Публікації відсутні</p>

            {% endfor %}
        </div>
    </div>


    <div class="related-courses">
        <h2>Курси викладача</h2>
        <hr class="delimiter"/>
        {% for course in object.course_set.all %}
            <a href="{{ course.get_absolute_url }}" class="course">
                <h4 class="course-name">{{ course.name }}</h4>
                <span class="course-subscribers">{{ course.students.count }} слухачі</span>
            </a>
        {% endfor %}

    </div>


{% endblock %}

{% block footer %}
    <script src="{% static 'teacher/js/teacher-account-review.js' %}"></script>
{% endblock %}


