h1 {
    font-size: 40px;
    letter-spacing: .1em;
    font-weight: 700;
}
.title-page-parallax {
    position: relative;
    height: 575px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.title-page-parallax #image-parallax {
    background: no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -3;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
}
.title-page-parallax #image-parallax::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
}
.title-page-parallax .title-parallax {
    padding-top: 75px;
    max-width: 1000px;
    display: inline-block;
    margin: auto;
    text-align: center;
    color: #fff;
}
.title-page-parallax .title-parallax .date-likes {
    font-size: 22px;
    margin-top: 30px;
}
.title-page-parallax .title-parallax .date-likes .date {
	margin-right: 20px;
}
.title-page-parallax .title-parallax .date-likes .glyphicon {
    margin-left: 8px;
    font-size: 20px;
    margin-bottom: 5px;
}
@media (max-width:576px) {
    h1 {
    font-size: 34px;
}
}

.content {
	padding: 55px 100px 54px;
	background-color: #fff;
}
.autor {
	text-align: center;
	font-size: 20px;
}
.autor h2 {
	text-align: left;
}
.autor img {
	width: 100%;
	border-radius: 50em;
	border: 2px solid #333;
}
.autor p {
	margin-top: 10px;
}
.item-about-course {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 10px;
}
.item-about-course span {
	font-weight: normal;
}
.button-wrap {
	text-align: center;
}
.button-wrap .button-try {
	background-color: #008ee2;
	color: #fff;
	display: inline-block;
	border: 2px solid #008ee2;
	border-radius: 5em;
	padding: 5px 40px;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	margin-top: 20px;
}
.button-wrap .button-try:hover {
	background-color: transparent;
	color: #008ee2;
	text-decoration: none;
}
.button-wrap .button-try .glyphicon{
	margin-right: 10px;
}
.button-wrap .button-untry {
	background-color: #ff4f4f;
	border-color: #ff4f4f;
}
.button-wrap .button-untry:hover {
	color: #ff4f4f;
}
.button-wrap .button-add {
	margin-left: 10px;
	border-color: #333;
	color: #333;
	background-color: transparent;
}
.button-wrap .button-add:hover {
	background-color: #333;
	border-color: #333;
	color: #fff;
}

.all-info h2 {
	margin-bottom: 20px;
	margin-top: 40px;
}

.all-info .description h2 {
	margin-top: 0;
}
.all-info .section {
	margin-bottom: 25px;
}

.section .section-outer {
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	padding: 20px 30px;
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background-color: #f2f2f2;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.section:not(.active) .section-outer:hover {
	-webkit-box-shadow: 0 0 33px 4px rgba(0,0,0,.1);
  box-shadow: 0 0 33px 4px rgba(0,0,0,.1);
}
.section .section-outer .section-right {
	margin: auto;
	font-weight: bold;
	text-decoration: underline;
	min-width: 91px;
	text-align: right;
}
.section .section-outer h3 {
	margin-top: 10px;
	margin-bottom: 15px;
}

.section .section-inner {
	border: 1px solid #faf9f4;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	padding: 30px 50px;
	display: none;
}
.section.active .section-inner {
	display: block;
}

.section .section-inner .lesson {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.section .section-inner .lesson:not(:last-child) {
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 10px;
}
.section .section-inner .lesson  .lesson-right {
	margin: auto;
}
.section .section-inner .lesson .button-more {
	display: inline-block;
	border: 2px solid #333;
	color: #333;
	border-radius: 5em;
	padding: 5px 20px;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	white-space: nowrap;
}
.section .section-inner .lesson .button-more .glyphicon {
	margin-right: 10px;
}
.section .section-inner .lesson .button-more:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}
.all-info p {
	line-height: 1.5;
}
.comments .comment {
	padding: 30px 30px 20px;
	border: 1px solid #e8e8e8;
	background-color: #f2f2f2;
	border-radius: 10px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
  box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.comments .comment-top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.comments .comment-top .comment-photo img {
	max-width: 150px;
	border-radius: 50em;
	border: 2px solid #333;
	margin-right: 30px;
}
.comments .comment-top .comment-info {
	margin: auto 0;	
}
.comments .comment-top .comment-name {
	font-size: 22px;
	font-weight: bold;
}
.comments .comment-top .comment-date {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 5px;
}
.comments .comment-top .comment-rate .glyphicon {
	font-size: 18px;
	margin-right: 3px;
}
.comments .comment-content {
	padding: 20px;
	margin-top: 5px;
	font-size: 18px;
	line-height: 1.3;
}
.comments .button-wrap {
	margin-top: 30px;
}



.more-courses {
	background-color: #333;
	color: #fff;
}
.more-courses h2 {
	text-align: center;
}




.modal-lesson .modal-title {
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
}
.modal-lesson .close {
	margin-top: 5px;
}
.modal-lesson  .date {
	display: flex;
	justify-content: space-between;
}
.modal-lesson  .date>div h4, .modal-lesson  .date>div span {
	display: inline-block;
}
.modal-lesson  .date>div span {
	font-style: italic;
}