{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#394b58">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#394b58">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#394b58">

    <link rel="stylesheet" href="{% static 'teacher/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">

    {% block head %}{% endblock %}
</head>
{% block _body %}
    <body>

    {% block body %}{% endblock %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'teacher/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>

    {% block footer %}{% endblock %}
    {% if messages %}
        <ul class="animated fadeIn errorlist col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <li class="exit">x</li>
            <h4>Повідомлення</h4>
            {% for message in messages %}
                <li class="message {{ message.level_tag }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </body>
{% endblock %}
</html>