a:hover, a:focus {
	text-decoration: none;
}
.content {
	padding: 25px 0 100px 54px;
}
.content .panel {
	margin-top: 20px;
	margin-bottom: 20px;
}
.search {
	margin-top: 50px;
}
.search form input {
	width: 100%;
  padding: 10px 30px;
  background-color: #f6f6f6;
  border: none;
  -webkit-border-radius: 5em;
  border-radius: 5em;
  border: 1px solid #008ee2;
}
.search form {
	position: relative;
}
.search form .button {
	position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  padding: 4px 5px;
  width: 80px;
  background-color: #008ee2;
  color: #fff;
  height: 100%;
  border: 3px solid #008ee2;
  border-radius: 5em;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.search form .button:hover {
	background-color: transparent;
	color: #008ee2;
}
.search .results {
	text-align: right;
	vertical-align: middle;
	margin-top: 24px;
	transform: translateY(-50%);
	font-size: 18px;
}
.search .results span {
  color: #008ee2;
  font-size: 22px;
}
.search .categories {
	text-align: center;
	margin-top: 20px;
}
.search .categories a {
	padding: 7px 20px;
  margin: 0;
  margin-right: -5px;
  color: #555;
  letter-spacing: .05em;
  position: relative;
  display: inline-block;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 20px;
  font-family: Raleway,Arial,sans-serif;
}
.search .categories a::after {
	content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #b9b9b9;
  height: 1px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.search .categories a.active, .search .categories a:hover {
  color: #008ee2;
  text-decoration: none;
}
.search .categories a.active::after, .search .categories a:hover::after {
  background-color: #008ee2;
  height: 3px;
}
.search .filters {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
  margin-top: 40px;
}
.search .filters a{
	color: #b9b9b9;
  padding: 10px 20px;
  border: 1px solid #b9b9b9;
  margin-right: -1px;
  width: 17%;
  text-align: center;
  font-size: 18px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.search .filters a:hover, .search .filters a.active{
	color: #008ee2;
	background-color: #d9edf7;
	border-color: #bce8f1;
	text-decoration: none;
}
.items {
	margin-top: 70px;
}
.items .item {
	margin-bottom: 50px;
}
.items .item img {
	width: 100%;
}
.items .item a {
	display: block;
	color: #555;
}
.items .item a:hover {
	text-decoration: none;
}
.items .item .tags a {
	display: inline-block;
  padding: 0 8px;
  background-color: transparent;
  border: 1px solid #b9b9b9;
  font-size: 16px;
  color: #b9b9b9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.items .item .tags a:hover {
	color: #fff;
  background-color: #b9b9b9;
  text-decoration: none;
}
.items .item h3 {
	margin-bottom: 3px;
	font-size: 26px;
}
.items .item .author {
	font-size: 18px;
	font-weight: normal;
}
.items .item .tags {
	margin-top: 5px;
	margin-bottom: 5px;
}
.items .item .date-register {
	font-style: italic;
	opacity: .8;
}
.items .item .date-register span {
	margin-right: 5px;
	margin-left: 8px;
}
.items .item .description {
	line-height: 1.3;
	margin-top: 10px;
}
.items .item .buttons {
	text-align: center;
	margin-top: 20px;
}
.items .item .buttons>a .glyphicon {
	margin-right: 10px;
}
.items .item .buttons>a {
	display: inline-block;
	border: 2px solid #333;
	color: #333;
	border-radius: 5em;
	padding: 5px 40px;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.items .item .buttons .button-more {
	margin-right: 10px;
}
.items .item .buttons .button-more:hover {
	background-color: #333;
	color: #fff;
}
.items .item .buttons .button-try {
	background-color: #008ee2;
	color: #fff;
	border-color: #008ee2;
}
.items .item .buttons .button-try:hover {
	background-color: transparent;
	color: #008ee2;
}
.items .button-wrap {
	text-align: center;
}
.items .button-wrap .button-more {
	display: inline-block;
	border: 2px solid #008ee2;
	border-radius: 5em;
	padding: 5px 40px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background-color: #008ee2;
	color: #fff;
	font-size: 24px;
	margin-top: 50px;
}
.items .button-wrap .button-more:hover {
	background-color: transparent;
	color: #008ee2;
}