{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>KPI EDU</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#262c3a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#262c3a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#262c3a">

    <link rel="stylesheet" href="{% static 'teacher/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

</head>

<body>

<header class="main-head" style="background-image: url({% static 'img/header-background.jpg' %});">
    <!-- Сюда добавить уведомление об ошибки -->
    {% if form.non_field_errors %}
        <ul class="animated fadeIn errorlist col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <li class="exit">x</li>
            <h4>Попередження</h4>
            {% for err in form.non_field_errors %}
                <li>{{ err }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if messages %}
        <ul class="animated fadeIn errorlist col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <li class="exit">x</li>
            <h4>Попередження</h4>
            {% for message in messages %}
                <li class="message {{ message.level_tag }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- Убрать ссылку, просто логотип -->
    <a href="#" class="logo"><img src="{% static 'img/logo.png' %}" alt="Canvas"></a>

    <div class="header-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-lg-8">
                    <div class="header-name">
                        <h1>KPI Edu System</h1>
                        <p>
                            Сучасна система навчання та контролю знань.
                            Різні варіанти подачі інформації.
                            Зручний інтерфейс.
                            Доступ будь-де, будь-коли, з будь-якого пристрою
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-lg-4">
                    <form action="{% url 'index' %}" method="POST" class="forms auth-form">{% csrf_token %}
                        <h4>Вхід до системи</h4>
                        <p>Щоб увійти в особистий кабінет уведіть ваш логін та пароль. </p>
                        <p>
                            {{ form.username.label }}
                            {{ form.username }}
                        </p>
                        <p>
                            {{ form.password.label }}
                            {{ form.password }}
                        </p>
                        <div class="button-wrap">
                            <button class="buttons">Вхід</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>


</body>
</html>
