{% extends 'skeleton.html' %}
{% load staticfiles %}
{% block head %}
    <title>Повідомлення | KPI EDU</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block body %}

    <div class="navbar-opener">
        <span class="glyphicon glyphicon-menu-down"></span>
    </div>

    {#   NAVBAR   #}
    {% if request.user.profile.is_student %}
        {% include 'student/components/navbar.html' with messages=True %}
    {% elif request.user.profile.is_teacher %}
        {% include 'teacher/components/navbar.html' with messages=True %}
    {% endif %}

    <div class="content" id="app" data-self-id="{{ self_id }}">
        {% csrf_token %}
        <div class="row">
            <users-bar class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-5 col-lg-4"></users-bar>
            <message-bar class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-7 col-lg-8"></message-bar>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="{% static 'js/messages.js' %}"></script>
{% endblock %}