{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>Title</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'teacher/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
</head>

<body>

<div class="navbar-opener">
    <span class="glyphicon glyphicon-menu-down"></span>
</div>

{#   NAVBAR   #}
{% if request.user.profile.is_student %}
    {% include 'student/components/navbar.html' with messages=True %}
{% elif request.user.profile.is_teacher %}
    {% include 'teacher/components/navbar.html' with messages=True %}
{% endif %}

<div class="content" id="app" data-self-id="{{ self_id }}">
    {% csrf_token %}
    <div class="row">
        <users-bar class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-5 col-lg-4"></users-bar>
        <message-bar class="col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-7 col-lg-8"></message-bar>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'teacher/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>
</body>
</html>